<template name="BlogLayout">

  <body>
  <div class="blog home-page">
    <div class="blog-header">
      <h1>Blog</h1>
    </div>

    <div class="add-blog">
      <button class="create-btn">Create</button>
    </div>

    <div class="all-blog">
      {{#each posts}}
      <div class="blog-item">
        <h3>{{title}}</h3>
        <p>{{{desc}}}</p>
        <h6>{{CreatedAt}}</h6>
        <button class="edit-btn">edit</button>
        <button class="delete-btn">delete</button>
        <button class="view">View</button>
      </div>
      {{/each}}
    </div>

  </div>
  </body>
</template>
