<template name="SignupLayout">
  <div class="Signup home-page">
    <div class="signup-form">
      <h1>Signup</h1>
      <form class="form-signup"  method="POST">
        <input  class="form-child" type="text" name="email" id="email" placeholder="email"><br>
        <input class="form-child" type="password" name="password" id="password" placeholder="password"><br>
        <input class="form-child" type="password" name="cpassword" id="cpassword" placeholder="confirm password"><br>
        <button class="form-child" type="submit">Signup</button>
      </form>
      <button class="form-child" id="signin-redirect">Signin</button>
    </div>
  </div>
</template>
